#!/usr/bin/make -f

# We disable the tests during the build because they require sudo/root
# which isn't allowed in a standard Debian build environment.
export DEB_BUILD_OPTIONS += nocheck
# Relax GCC 15 strictness for the initial build attempt
export DEB_CFLAGS_MAINT_APPEND = -Wno-error=implicit-function-declaration

%:
	dh $@

# If the meson.build file has a 'test' section that calls sudo, 
# we override it to do nothing during the package build.
# If 'ninja install' fails because of sudo in meson.build, 
# we manually install the binary from the build directory.
# If ninja install still fails due to other sudo calls, use this:
override_dh_auto_install:
	dh_auto_install --destdir=debian/overlayfs-tools
	dh_installman
