#!/usr/bin/make -f

# We disable the tests during the build because they require sudo/root
# which isn't allowed in a standard Debian build environment.
export DEB_BUILD_OPTIONS += nocheck

%:
	dh $@

# If the meson.build file has a 'test' section that calls sudo, 
# we override it to do nothing during the package build.
override_dh_auto_test:
	@echo "Skipping tests that require sudo..."
